/* #skills {
  width: 800px;
  height: 560px;
  padding: 0 0 1px 0;
  position: relative;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  background-repeat: repeat;
  z-index: 9;
} 
#skills:before {
  z-index: -1;
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

#skills:after {
  z-index: -2;
  position: absolute;
  top: 1px;
  left: -2px;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(359deg);
  -moz-transform: rotate(359deg);
  -o-transform: rotate(359deg);
  -ms-transform: rotate(359deg);
  transform: rotate(359deg);
}
#skills h2 {
  text-align: center;
  margin-left: 40px;
  padding-top: 10px;
}*/
/* .legend {
  float: left;
  width: 100px;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  margin-left: 1px;
} */
#diagram {
  /* float: left; */
  /* margin-top: -20px; */
  /* margin-left: 20px; */
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}
.skills ul,
.skills li {
  display: block;
  list-style: none;
  margin: 0px;
  padding-left: 0px;
  /* padding-top: 10px; */
}
.skills ul {
  /* width: 120px; */
}
.skills li {
  font-size: 26px;
  float: left;
  clear: both;
  /* padding: 0px 25px 0px 25px; */
  line-height: 54px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.get {
  display: none;
}

#page,
p,
.skills li,
.ff-container label,
.ff-items a,
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
input[type="submit"],
#credits,
button {
  font-family: PTSans;
}
b,
strong {
  font-family: PTSansBold;
  font-weight: bold;
}
i,
em,
blockquote,
blockquote p,
blockquote cite,
.footnote {
  font-family: PTSansItalic;
  font-style: italic;
}
#home,
#resume,
#resume:before,
#resume:after,
#skills:before,
#skills:after,
#skills,
#portfolio,
#portfolio:before,
#portfolio:after,
.map-effect,
.map-effect2,
.box {
  background-color: #2e1b77;
}
.impress-not-supported #skills {
  width: 100px;
  /* margin-top: 50px; */
}
.skills li {
  color: #ffffff;
}
.skills .jq {
  background: #00fff7;
}
.skills .css {
  background: #2e9afe;
}
.skills .html {
  background: #dba901;
}
.skills .php {
  background: #ba00ff;
}
.skills .c {
  background: #1caebf;
}
.skills .sql {
  background: #0040ff;
}
