/*  For laptop */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* For Tab device */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/*  For mobile device */
@media (max-width: 767px) {
  .navbar-nav .nav-item .nav-link {
    padding: 5px 0px;
    font-size: 16px;
  }
  .hero h2,
  .about h2,
  .features h2,
  .investment_area h2,
  .referral h2,
  .faq h2,
  .statistics h2,
  .our_news h2,
  .our_team h2,
  .paymetn h2,
  .heading h2 {
    font-size: 32px;
    font-weight: 600;
  }
  .hero a {
    border-radius: 20px;
    padding: 15px 35px;
    color: #fff;
    font-size: 16px;
    margin: 15px auto;
    font-weight: 400;
  }
  .footer {
    padding: 20px 0;
  }
  .features_ruound::after {
    background: none;
  }
  .features_ruound::before {
    display: none;
  }
  .f_m {
    margin-top: -30px;
    margin-left: 20px;
    text-align: left;
  }
}

/*  For landscape mobile device */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .singel_features {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px;
    color: #fff;
  }
  .f_m {
    margin-top: 20px;
  }
}

/* for feature section */
@media (min-width: 992px) and (max-width: 1200px) {
  .cols-7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .cols-7 {
    width: calc(33% - 20px);
  }
  .odd {
    top: 0px;
  }
  .even .s_img,
  .odd .s_img {
    margin: 15px;
  }
  .even .s_text,
  .odd .s_text {
    margin: 10px;
  }
  .statistics_1:after {
    display: none;
  }
  .odd,
  .even {
    border: 2px solid #fff;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .cols-7 {
    width: calc(100% - 20px);
  }
  .odd,
  .even {
    border: 2px solid #fff;
    border-radius: 5px;
  }
  .odd {
    top: 0px;
  }
  .even .s_img,
  .odd .s_img {
    margin: 15px;
  }
  .even .s_text,
  .odd .s_text {
    margin: 10px;
  }
  .statistics_1:after {
    display: none;
  }
}
